/* --------------------------------------
	reset css
-------------------------------------- */

/* border-box を全要素にセット */
:where(*, ::before, ::after) {
  box-sizing: border-box;
}

/* 全要素のマージンをリセット */
* {
  margin: 0;
}

/* 親要素をはみ出さないようにする + 隙間ができないようにする */
:where(img, video) {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

/* iframe */
:where(iframe) {
  display: block;
  border: none;
}

/* テキストのオーバーフローを回避 */
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* フォーム要素のタイポグラフィをリセット */
:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
  text-transform: none;
}

/* ボタン要素のタイポグラフィをリセット */
:where(button) {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* テキストエリアの水平リサイズを無効に */
:where(textarea) {
  resize: vertical;
}

/* カーソル セット */
:where(button, label, select, summary) {
  cursor: pointer;
}

/* リストのデフォルト記号を非表示 */
:where(ul, ol) {
  list-style: none;
  padding: 0;
}

/* リンクのデフォルトスタイルをリセット */
:where(a) {
  text-decoration: none;
  color: inherit;
}

/* addressのデフォルトスタイルをリセット */
:where(address) {
  font-style: normal;
}

/* --------------------------------------
	共通デザイントークン
-------------------------------------- */
:root {
  /* font */
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  /* color */
  --color-font-base: #222;
  --color-font-sub: #fff;
  --color-primary: #3babc6;
  --color-sub: #0968aa;

  /* z-index */
  --z-index-header: 30;
  --z-index-default: 1;
  --z-index-negative: -1;
}

body {
  font-size: 4vw;
  font-family: "Noto Sans JP", sans-serif;

  @media (min-width: 900px) {
    font-size: clamp(10px, 1vw, 19px);
  }
}

/* スクロール無効化 */
.u-scroll-hidden {
  overflow: hidden;
}

.u-font-en {
  font-family: "Oswald", sans-serif;
}

.u-pc-hidden {
  /* 画面の幅が 1023px 以上の場合（スマホ・タブレットなど） */
  @media (min-width: 900px) {
    display: none;
  }
}

.u-sp-hidden {
  /* 画面の幅が 1023px 以下の場合（スマホ・タブレットなど） */
  @media (max-width: 900px) {
    display: none;
  }
}

.l-wrapper {
  padding-inline: clamp(1.25rem, 0.56rem + 3.45vw, 2.5rem);

  @media (min-width: 900px) {
    padding-inline: 0;
  }
}

.u-pb {
  padding-block: clamp(1.25rem, 0.56rem + 3.45vw, 2.5rem);

  @media (min-width: 900px) {
    padding-block: 0;
  }
}

.u-pl {
  padding-left: clamp(1.25rem, 0.56rem + 3.45vw, 2.5rem);

  @media (min-width: 900px) {
    padding-left: 0;
  }
}

/* ================ グラデーション背景 ================ */
.u-bg-gradation-primary {
  background: #2aa4c2;
  background: linear-gradient(
    30deg,
    rgba(42, 164, 194, 1) 0%,
    rgba(19, 117, 186, 1) 80%
  );
}

/* ================ テキスト 縦書き ================ */
.u-vertical {
  writing-mode: vertical-rl;
}

/* ================ テキストリンク ホバーアニメーション ================ */
.u-underline {
  background-image: linear-gradient(90deg, currentcolor, currentcolor);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 0% 0.06em;
  transition: background-size 0.36s ease-out;
}

.u-underline:hover {
  @media (min-width: 900px) {
    background-position: 0% 100%;
    background-size: 100% 0.06em;
    transition-duration: 0.24s;
  }
}

/* ================ テキストリンク ホバーアニメーション opacity ================ */
.u-link {
  transition: opacity 0.3s;
}

.u-link:hover {
  @media (min-width: 900px) {
    opacity: 0.7;
  }
}

/* ================ flex ================ */
.u-flex {
  display: flex;
}

/* ================ ボタン (共通) ================ */
.c-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 円と矢印の装飾 */
.c-btn__arrow {
  display: block;
  width: 7.5vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: grid;
  place-items: center;

  @media (min-width: 900px) {
    width: clamp(22px, 1.875vw, 36px);
  }
}

.c-btn__arrow::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.75vw 0 0.75vw 2.5vw;

  @media (min-width: 900px) {
    border-width: clamp(2px, 0.1875vw, 3.6px) 0 clamp(2px, 0.1875vw, 3.6px)
      clamp(8px, 0.625vw, 12px);
  }
}

/* ================ ボタン (小) ================ */
.c-btn--small {
  font-size: 4.5vw;
  padding-bottom: 3vw;
  position: relative;

  @media (min-width: 900px) {
    font-size: clamp(13px, 1.25vw, 24px);
    width: clamp(165px, 18.75vw, 360px);
    padding-bottom: clamp(11px, 1.25vw, 24px);
    transition: color 0.3s;
  }
}

/* ボタンhover時、線が伸びる */
.c-btn--small::before,
.c-btn--small::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.c-btn--small::after {
  @media (min-width: 900px) {
    width: 0;
    transition: width 0.3s;
  }
}

.c-btn--small:hover:after {
  @media (min-width: 900px) {
    width: 100%;
    left: 0;
  }
}

/* ================ ボタン (大) ================ */
.c-btn--large {
  border-radius: 30vw;
  padding: 4vw 5vw 4vw 23.25vw;
  background: var(--color-font-sub);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  position: relative;
  z-index: var(--z-index-default);
  overflow: hidden;
  transition: color 0.3s;

  @media (min-width: 900px) {
    border-radius: clamp(26px, 2.1875vw, 42px);
    padding: clamp(16px, 1.625vw, 20px) clamp(34px, 2.8125vw, 54px)
      clamp(16px, 1.625vw, 20px) clamp(105px, 8.75vw, 168px);
    font-size: clamp(12px, 1vw, 19px);
  }
}

/* ボタンhover時、背景が伸びる */
.c-btn--large:hover {
  @media (min-width: 900px) {
    color: var(--color-font-sub);
  }
}

.c-btn--large::before {
  @media (min-width: 900px) {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: var(--color-primary);
    z-index: var(--z-index-negative);
    transition: width 0.3s;
  }
}

.c-btn--large:hover::before {
  @media (min-width: 900px) {
    width: 100%;
    left: 0;
  }
}

.c-btn--large .c-btn__arrow {
  transition: background 0.3s;
}

.c-btn--large:hover .c-btn__arrow {
  @media (min-width: 900px) {
    background: var(--color-font-sub);
  }
}

.c-btn--large .c-btn__arrow::before {
  transition: border-color 0.3s;
}

.c-btn--large:hover .c-btn__arrow::before {
  @media (min-width: 900px) {
    border-color: transparent transparent transparent var(--color-primary);
  }
}

/* ================ セクションタイトル ================ */
.c-title {
  position: relative;
}

.c-title::before,
.c-title::after {
  content: "";
  display: block;
  position: absolute;
}

.c-title::before {
  width: 1px;
}

.c-title::after {
  width: 3.75vw;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 0.2;

  @media (min-width: 900px) {
    width: clamp(14px, 1.1875vw, 23px);
  }
}

.c-title-en {
  font-size: 12vw;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @media (min-width: 900px) {
    font-size: clamp(75px, 6.25vw, 120px);
  }
}

.c-title-ja {
  font-size: 4vw;
  font-weight: var(--font-weight-bold);

  @media (min-width: 900px) {
    font-size: clamp(15px, 1.25vw, 24px);
  }
}

/* ================ ページトップボタン ================ */

/* 900px以上の時のみ表示 */
.c-page-top-btn {
  display: none;

  @media (min-width: 900px) {
    display: grid;
    place-items: center;
    width: clamp(47px, 3.9375vw, 76px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    position: fixed;
    z-index: var(--z-index-header);
    bottom: 5%;
    right: 3%;
    transform: translateY(200%);
    transition: all 0.3s;
  }
}

.c-page-top-btn__arrow {
  @media (min-width: 900px) {
    display: block;
    border-top: 3px solid var(--color-font-sub);
    border-left: 3px solid var(--color-font-sub);
    border-radius: 3px;
    width: 30%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 40%;
    transform: rotate(45deg);
  }
}

/* hover時、色を変更 */
.c-page-top-btn:hover {
  background: var(--color-font-sub);
}

.c-page-top-btn:hover .c-page-top-btn__arrow {
  border-top: 3px solid var(--color-primary);
  border-left: 3px solid var(--color-primary);
}

/* スクロール位置がtrigger要素を越えたらボタンを表示する */
.c-page-top-btn.is-active {
  transform: translateY(0);
}
