/* --------------------------------------
	reset css
-------------------------------------- */

/* border-box を全要素にセット */
:where(*, ::before, ::after) {
  box-sizing: border-box;
}

/* 全要素のマージンをリセット */
* {
  margin: 0;
}

/* 親要素をはみ出さないようにする + 隙間ができないようにする */
:where(img, video) {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

/* iframe */
:where(iframe) {
  display: block;
  border: none;
}

/* テキストのオーバーフローを回避 */
:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

/* フォーム要素のタイポグラフィをリセット */
:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
  text-transform: none;
}

/* ボタン要素のタイポグラフィをリセット */
:where(button) {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* テキストエリアの水平リサイズを無効に */
:where(textarea) {
  resize: vertical;
}

/* カーソル セット */
:where(button, label, select, summary) {
  cursor: pointer;
}

/* リストのデフォルト記号を非表示 */
:where(ul, ol) {
  list-style: none;
  padding: 0;
}

/* リンクのデフォルトスタイルをリセット */
:where(a) {
  text-decoration: none;
  color: inherit;
}

/* --------------------------------------
	共通デザイントークン
-------------------------------------- */
:root {
  /* font */
  --font-size-base: clamp(0.875rem, 0.613rem + 0.41vw, 1.125rem);
  --font-weight-bold: 600;

  /* color */
  --color-font-base: #222;
  --color-font-sub: #fff;
  --color-primary: #3babc6;
  --color-sub: #0968aa;

  /* z-index */
  --z-index-header: 30;
  --z-index-default: 1;
  --z-index-negative: -1;
}

body {
  font-size: var(--font-size-base);
  font-family: "Noto Sans JP", sans-serif;

  /* 画面の幅が 1023px 以下の場合（スマホ・タブレットなど） */
  @media (max-width: 1023px) {
    font-size: clamp(0.875rem, 0.761rem + 0.57vw, 1.125rem);
  }
}

.u-font-en {
  font-family: "Oswald", sans-serif;
}

.u-pc-hidden {
  /* 画面の幅が 1023px 以上の場合（スマホ・タブレットなど） */
  @media (min-width: 900px) {
    display: none;
  }
}

.u-sp-hidden {
  /* 画面の幅が 1023px 以下の場合（スマホ・タブレットなど） */
  @media (max-width: 900px) {
    display: none;
  }
}

.l-wrapper {
  padding-inline: clamp(1.25rem, 0.56rem + 3.45vw, 2.5rem);

  @media (min-width: 900px) {
    padding-inline: 0;
  }
}

.u-pb {
  padding-block: clamp(1.25rem, 0.56rem + 3.45vw, 2.5rem);

  @media (min-width: 900px) {
    padding-block: 0;
  }
}

.u-pl {
  padding-left: clamp(1.25rem, 0.56rem + 3.45vw, 2.5rem);

  @media (min-width: 900px) {
    padding-left: 0;
  }
}

/* グラデーション背景 */
.u-bg-gradation-primary {
  background: #2aa4c2;
  background: linear-gradient(
    30deg,
    rgba(42, 164, 194, 1) 0%,
    rgba(19, 117, 186, 1) 80%
  );
}

/* テキスト 縦書き */
.u-vertical {
  writing-mode: vertical-rl;
}

/* テキストリンク ホバーアニメーション */
.u-underline {
  background-image: linear-gradient(90deg, currentcolor, currentcolor);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 0% 0.06em;
  transition: background-size 0.36s ease-out;
}

.u-underline:hover {
  background-position: 0% 100%;
  background-size: 100% 0.06em;
  transition-duration: 0.24s;
}

/* テキストリンク ホバーアニメーション opacity */
.u-link {
  transition: opacity 0.3s;
}

.u-link:hover {
  opacity: 0.7;
}