/* ----------------------------------------------------------
   header 
---------------------------------------------------------- */
.l-header {
  @media (min-width: 900px) {
    position: absolute;
    width: 100%;
    z-index: var(--z-index-header);
  }
}

.l-header-inner {
  @media (min-width: 900px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.l-header-var {
  position: fixed;
  z-index: var(--z-index-header);
  height: 18vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vw;
  @media (min-width: 900px) {
    position: static;
    height: auto;
    width: auto;
    display: inline-block;
    padding-left: clamp(90px, 7.5vw, 144px);
  }
}

.l-header-logo {
  width: 41.25vw;
  @media (min-width: 900px) {
    width: clamp(24px, 19.6875vw, 378px);
  }
}

.l-header-menu-btn {
  height: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}

.l-header-menu-btn span {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 41.66666%;
  height: 1px;
  background-color: var(--color-font-sub);
  transition:
    transform 0.3s,
    top 0.3s,
    transform-origin 0.3s,
    opacity 0.3s;
}

.l-header-menu-btn span:nth-of-type(1) {
  top: 35%;
}

.l-header-menu-btn span:nth-of-type(3) {
  top: 65%;
}

/* メニューopen時、×印に変形 */
.l-header-menu-btn.js-menu-open span {
  transform-origin: left;
  top: 50%;
}

.l-header-menu-btn.js-menu-open span:nth-of-type(1) {
  transform: rotate(45deg) translateX(-50%);
}

.l-header-menu-btn.js-menu-open span:nth-of-type(2) {
  opacity: 0;
}

.l-header-menu-btn.js-menu-open span:nth-of-type(3) {
  transform: rotate(-45deg) translateX(-50%);
}

.l-header-nav {
  padding-block: 25vw 10vw;
  width: 100vw;
  height: 100vh;
  background: var(--color-sub);
  color: var(--color-font-sub);
  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  @media (min-width: 900px) {
    background: transparent;
    padding-block: 0px;
    width: auto;
    height: auto;
    overflow: visible;
    display: block;
    visibility: visible;
    opacity: 1;
    position: static;
  }
}

/* ハンバーガーボタンをクリックでメニューopen */
.l-header-nav.js-menu-open {
  opacity: 1;
  visibility: visible;
}

.l-header-list {
  margin-bottom: 10vw;
  @media (min-width: 900px) {
    display: flex;
    gap: clamp(30px, 2.5vw, 48px);
    margin-bottom: 0px;
    align-items: center;
    height: clamp(75px, 6.25vw, 120px);
  }
}

.l-header-link {
  width: 100%;
  padding-block: 5vw;
  border-bottom: 1px solid var(--color-font-sub);
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 900px) {
    display: block;
    width: auto;
    padding-inline: 0px;
    border-bottom: 0px;
    padding-block: 0px;
  }
}

.l-header-link::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.75vw 0 0.75vw 2.5vw;
  border-color: transparent transparent transparent var(--color-font-sub);

  @media (min-width: 900px) {
    display: none;
  }
}

.l-header-item--contact {
  @media (min-width: 900px) {
    width: clamp(180px, 15vw, 288px);
    height: 100%;
  }
}

.l-header-item--contact .l-header-link {
  @media (min-width: 900px) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    width: 100%;
    height: 100%;
    font-size: clamp(14px, 1.125vw, 22px);
  }
}

.l-header-item--contact .l-header-link::before {
  @media (min-width: 900px) {
    content: "";
    display: block;
    width: clamp(18px, 1.5vw, 29px);
    aspect-ratio: 1 / 1;
    background-image: url("../images/icon_mail.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0.8%;
  }
}

.l-header-nav .l-contact-cta {
  margin-bottom: 10vw;
}

.l-header-sns {
  display: flex;
  gap: 10vw;
  align-items: center;
  justify-content: center;
}

.l-header-sns-item {
  width: 5vw;
  aspect-ratio: 1 / 1;
  text-align: center;
}

.l-header-sns-item-link {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

/* ----------------------------------------------------------
   fv 
---------------------------------------------------------- */
.p-top-fv {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 90% 1fr;
  position: relative;
  z-index: var(--z-index-default);
  @media (min-width: 900px) {
    grid-template-columns: 93.75% 1fr;
    height: auto;
  }
}

.p-top-fv__content {
  background-image: url("../images/mv_sp.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-font-sub);
  position: relative;
  @media (min-width: 900px) {
    background-image: url("../images/mv.jpg");
    padding-left: clamp(90px, 7.5vw, 144px);
  }
}

/* 透過背景 */
.p-top-fv__content::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: #437d95;
  background: linear-gradient(
    90deg,
    rgba(67, 125, 149, 1) 0%,
    rgba(8, 22, 57, 1) 100%
  );
  opacity: 0.3;
}

.p-top-fv__copy-wrapper {
  width: 54vw;
  position: absolute;
  bottom: 8.5vw;
  @media (min-width: 900px) {
    bottom: clamp(98px, 8.125vw, 156px);
  }
}

.p-top-fv__copy span {
  display: block;
}

.p-top-fv__copy--ja {
  font-size: 7.5vw;
  margin-bottom: 10vw;
  line-height: 1.3333;
  @media (min-width: 900px) {
    font-size: clamp(60px, 5vw, 96px);
    margin-bottom: clamp(2rem, 1.475rem + 0.82vw, 2.5rem);
  }
}

.p-top-fv__copy--en {
  font-size: 2.5vw;
  line-height: 1.8;
  @media (min-width: 900px) {
    font-size: clamp(12px, 0.9375vw, 18px);
  }
}

.p-top-fv__sidebar {
  padding-bottom: calc(31.25vw - -10vw);

  @media (min-width: 900px) {
    padding-block: calc(clamp(75px, 6.25vw, 120px) - -4.375vw) 12.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 14vh;
  }
}

.p-top-fv__sidebar-sns {
  @media (min-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
  }
}

.p-top-fv__sidebar-sns-text {
  @media (min-width: 900px) {
    font-size: clamp(0.625rem, 0.363rem + 0.41vw, 0.875rem);
  }
}

.p-top-fv__sidebar-sns-border {
  @media (min-width: 900px) {
    width: 1px;
    height: 20px;
    background: var(--color-font-base);
  }
}

.p-top-fv__sidebar-sns-list {
  @media (min-width: 900px) {
    width: clamp(16px, 1.25vw, 24px);
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
}

.p-top-fv__sidebar-sns-item {
  @media (min-width: 900px) {
    width: 100%;
    aspect-ratio: 1/1;
  }
}

.p-top-fv__sidebar-sns-item svg {
  @media (min-width: 900px) {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.p-top-fv__sidebar-sns-link path {
  @media (min-width: 900px) {
    transition: fill 0.3s;
  }
}

.p-top-fv__sidebar-sns-link:hover path {
  @media (min-width: 900px) {
    fill: var(--color-primary);
  }
}

.p-top-fv__sidebar-scrollbar {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: clamp(0.75rem, 0.409rem + 1.71vw, 1.5rem);
  @media (min-width: 900px) {
    padding-top: 0px;
    gap: clamp(0.625rem, 0.494rem + 0.2vw, 0.75rem);
    justify-content: center;
  }
}

.p-top-fv__sidebar-scrollbar-text {
  @media (min-width: 900px) {
    font-size: clamp(0.625rem, 0.363rem + 0.41vw, 0.875rem);
  }
}

.p-top-fv__sidebar-scrollbar-decorations {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5vw;

  @media (min-width: 900px) {
    gap: 4px;
  }
}

.p-top-fv__sidebar-scrollbar-border {
  background: var(--color-font-base);
  width: 1px;
  height: 15vw;
  animation: line-extends 2s ease-in-out infinite;

  @media (min-width: 900px) {
    height: clamp(40px, 3.75vw, 60px);
  }
}

/* 線を伸ばしてスクロールを促す */
@keyframes line-extends {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }

  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }

  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }

  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

.p-top-fv__sidebar-scrollbar-circle {
  border-radius: 50%;
  background: var(--color-font-base);
  width: 0.75vw;
  aspect-ratio: 1 / 1;
  opacity: 0;
  animation: circle-flashing 2s ease-in-out infinite;

  @media (min-width: 900px) {
    width: 7px;
  }
}

/* 線を伸ばしてスクロールを促す */
@keyframes circle-flashing {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  51% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.p-top-fv__sidebar-sns-text,
.p-top-fv__sidebar-scrollbar-text {
  font-size: 2.5vw;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;

  @media (min-width: 900px) {
    font-size: clamp(10px, 0.75vw, 16px);
  }
}

/* ----------------------------------------------------------
   feature 
---------------------------------------------------------- */
.p-top-feature {
  margin-top: -31.25vw;
  margin-left: 10vw;
  padding-block: 41.25vw 30vw;
  background-image: url(../images/feature_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-font-sub);
  position: relative;
  z-index: 0;

  @media (min-width: 900px) {
    margin-top: -7.8125vw;
    margin-left: 12.5vw;
    padding-block: 14.0625vw 10.3125vw;
  }
}

/* mask */
.p-top-feature::before {
  position: absolute;
  z-index: 0;
  inset: 0;
  top: 0;
  content: "";
  display: block;
  background: #2aa4c2;
  background: linear-gradient(
    30deg,
    rgba(42, 164, 194, 1) 0%,
    rgba(19, 117, 186, 1) 80%
  );
  opacity: 0.6;
}

.p-top-feature__inner {
  padding-right: 5vw;
  position: relative;
  z-index: var(--z-index-default);

  @media (min-width: 900px) {
    padding-right: 12.5vw;
  }
}

.p-top-feature__title {
  padding-left: 6vw;
  margin-bottom: -2.5vw;

  @media (min-width: 900px) {
    padding-inline: 6.25vw;
  }
}

.p-top-feature__block {
  flex-direction: column;

  @media (min-width: 900px) {
    flex-direction: row;
  }
}

.p-top-feature__imgs {
  width: 100%;
  aspect-ratio: 360 / 460;
  position: relative;
  left: -5vw;

  @media (min-width: 900px) {
    width: 51.25%;
  }
}

.p-top-feature__img {
  display: block;
  position: absolute;
}

.p-top-feature__img--first {
  width: 79.166%;
  top: 0;
  left: 0;
}

.p-top-feature__img--second {
  width: 55.55%;
  bottom: 0;
  right: 0;
}

.p-top-feature__content {
  padding-left: 7.3vw;
  margin-top: -12.5vw;
  position: relative;

  @media (min-width: 900px) {
    padding-inline: 0;
    width: 52.08%;
    margin-top: 0;
  }
}

.p-top-feature__lead {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 1vw;
  color: var(--color-primary);
  font-size: 5.4vw;
  margin-bottom: 12vw;
  position: relative;
  z-index: var(--z-index-default);

  @media (min-width: 900px) {
    gap: clamp(5px, 0.3125vw, 6px);
    font-size: clamp(22px, 2.5vw, 48px);
    margin-bottom: clamp(50px, 5.625vw, 108px);
  }
}

.p-top-feature__lead span {
  display: inline-block;
  line-height: 1.8;
  padding-left: 2.5vw;
  position: relative;

  @media (min-width: 900px) {
    padding-left: clamp(11px, 1.25vw, 24px);
  }
}

.p-top-feature__text-wrapper {
  margin-bottom: 18vw;
  padding-inline: 2.5vw 8vw;

  @media (min-width: 900px) {
    margin-bottom: clamp(66px, 7.5vw, 144px);
    padding-inline: clamp(50px, 5.625vw, 108px) 0;
  }
}

.p-top-feature__text {
  line-height: 2.125;

  @media (min-width: 900px) {
    font-size: clamp(12px, 1.0625vw, 20px);
  }
}

.p-top-feature__text span {
  display: block;
}

/* 一つ目と2つ目のテキスト要素 */
.p-top-feature__text:nth-of-type(1),
.p-top-feature__text:nth-of-type(2) {
  padding-bottom: 12vw;

  @media (min-width: 900px) {
    padding-bottom: clamp(33px, 3.75vw, 72px);
  }
}

.p-top-feature__btn {
  margin-right: 5vw;

  @media (min-width: 900px) {
    margin-right: 0;
    margin-left: auto;
  }
}

/* ----------------------------------------------------------
   featureセクション スクロールフェードインアニメーション 
---------------------------------------------------------- */

/* リード文 右から背景色を伸ばす */
.p-top-feature__lead span::before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: var(--color-font-sub);
  position: absolute;
  z-index: var(--z-index-negative);
  right: 0;
}
.p-top-feature__lead.is-scroll-active span::before {
  animation-name: bg-extend;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes bg-extend {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* テキスト 下からフェードイン */
.p-top-feature__text {
  opacity: 0;
  transform: translateY(100%);
}

.p-top-feature__text.is-scroll-active {
  animation-name: text-fadeIn;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes text-fadeIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 矢印 */
.p-top-feature__btn-arrow {
  background: currentColor;
}

.p-top-feature__btn-arrow::before {
  border-color: transparent transparent transparent var(--color-primary);
  transition: border-color 0.3s;
}

/* ボタンhover時、テキストの色を変える */
.p-top-feature__btn:hover {
  @media (min-width: 900px) {
    color: var(--color-primary);
  }
}

/* ボタンhover時、矢印の色を変える */
.p-top-feature__btn:hover .p-top-feature__btn-arrow::before {
  @media (min-width: 900px) {
    border-color: transparent transparent transparent var(--color-font-sub);
  }
}

/* ボタンhover時、線が伸びる */
.p-top-feature__btn::before {
  border-bottom: 2px solid var(--color-font-sub);
}

.p-top-feature__btn::after {
  @media (min-width: 900px) {
    border-bottom: 2px solid var(--color-primary);
  }
}

/* ----------------------------------------------------------
   service 
---------------------------------------------------------- */
.p-top-service__title {
  padding-top: 25vw;
  margin-bottom: 16vw;
  text-align: center;

  @media (min-width: 900px) {
    padding-top: clamp(142px, 11.875vw, 228px);
    margin-bottom: clamp(116px, 9.6875vw, 186px);
  }
}

.p-top-service__title::before,
.p-top-service__title::after {
  left: 50%;
  transform: translateX(-50%);
}

.p-top-service__title::before {
  height: 16vw;
  background: var(--color-sub);
  top: 0;

  @media (min-width: 900px) {
    height: clamp(90px, 7.5vw, 144px);
  }
}

.p-top-service__title::after {
  background: var(--color-sub);
  top: calc(16vw - 2vw);

  @media (min-width: 900px) {
    top: calc(clamp(90px, 7.5vw, 144px) - clamp(7.5px, 0.625vw, 12px));
  }
}

.p-top-service__title-en {
  color: var(--color-sub);
}

.p-top-service__list {
  display: flex;
  flex-direction: column;
  gap: 20vw;
  position: relative;
  padding-bottom: 30vw;

  @media (min-width: 900px) {
    padding-bottom: clamp(150px, 50vw, 240px);
    gap: clamp(142px, 11.875vw, 228px);
  }
}

/* 背景色 */
.p-top-service__list::before {
  content: "";
  display: block;
  background: #f3f5f6;
  position: absolute;
  z-index: var(--z-index-negative);
  inset: 0;

  @media (min-width: 900px) {
    inset: auto;
    width: calc(100% - max(390px, 32.5vw));
    height: 75%;
    bottom: clamp(150px, 50vw, 240px);
    right: 0;
  }
}

.p-top-service__item {
  @media (min-width: 900px) {
    position: relative;
  }
}

.p-top-service__img {
  @media (min-width: 900px) {
    width: clamp(810px, 67.5vw, 1296px);
  }
}

.p-top-service__content {
  background: var(--color-font-sub);
  padding: 15vw 10vw 13vw;
  margin: -9vw 10vw 0 0;
  position: relative;
  overflow: hidden;

  @media (min-width: 900px) {
    padding: clamp(60px, 5vw, 80px) clamp(67.5px, 5.625vw, 90px);
    margin: 0;
    width: clamp(420px, 35vw, 672px);
    position: absolute;
    top: 0;
    right: 109px;
  }
}

/* 数字 */
.p-top-service__item-number {
  font-size: 25vw;
  font-weight: var(--font-weight-bold);
  line-height: 1;
  opacity: 0.1;
  color: var(--color-primary);
  position: absolute;
  top: 4vw;
  left: 0;

  @media (min-width: 900px) {
    font-size: clamp(120px, 10vw, 192px);
    line-height: 0.7;
    margin: 0;
    top: 0.3%;
    left: clamp(37.5px, 3.125vw, 60px);
  }
}

/* 2つ目のリスト */
.p-top-service__item:nth-of-type(2) .p-top-service__img {
  @media (min-width: 900px) {
    margin-left: auto;
  }
}

.p-top-service__item:nth-of-type(2) .p-top-service__content {
  margin-right: 0;
  margin-left: 10vw;

  @media (min-width: 900px) {
    margin-left: 0;
    right: auto;
    left: 109px;
  }
}

.p-top-service__item-title {
  font-size: 6vw;
  font-weight: var(--font-weight-bold);
  line-height: 1.5;
  color: var(--color-primary);
  margin-bottom: 12.5vw;

  @media (min-width: 900px) {
    font-size: clamp(24px, 2vw, 38px);
    margin-bottom: clamp(48px, 5vw, 72px);
  }
}

.p-top-service__item-text {
  line-height: 2.125;
  margin-bottom: 12.5vw;

  @media (min-width: 900px) {
    margin-bottom: clamp(48px, 4.5vw, 72px);
  }
}

.p-top-service__btn-arrow {
  background: var(--color-primary);
}

.p-top-service__btn-arrow::before {
  border-color: transparent transparent transparent var(--color-font-sub);
}

/* ----------------------------------------------------------
   works 
---------------------------------------------------------- */
.p-top-works {
  position: relative;
  color: var(--color-font-sub);
  padding-bottom: 30vw;

  @media (min-width: 900px) {
    padding-bottom: clamp(97.5px, 32.5vw, 156px);
  }
}

/* 背景色 */
.p-top-works::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: #56bcd5;
  background: linear-gradient(
    90deg,
    rgba(86, 188, 213, 1) 0%,
    rgba(19, 117, 186, 1) 100%
  );

  @media (min-width: 900px) {
    margin-right: 12.5vw;
  }
}

.p-top-works__inner {
  padding-inline: 5vw;
  position: relative;

  @media (min-width: 900px) {
    padding-inline: 2.5vw;
  }
}

.p-top-works__head {
  margin-bottom: 20vw;

  @media (min-width: 900px) {
    padding-top: clamp(120px, 10vw, 192px);
    margin-inline: clamp(120px, 10vw, 192px);
    margin-bottom: clamp(60px, 5vw, 96px);
    display: flex;
    align-items: center;
    gap: clamp(222px, 18.5vw, 355px);
    position: relative;
  }
}

/* align-itemsで中央にするため、headで装飾を再現 */
.p-top-works__head::before,
.p-top-works__head::after {
  @media (min-width: 900px) {
    content: "";
    display: block;
    position: absolute;
  }
}

.p-top-works__head::before {
  @media (min-width: 900px) {
    width: 1px;
    background: currentColor;
    height: clamp(90px, 7.5vw, 144px);
    top: 0;
    left: clamp(24px, 2vw, 38px);
  }
}

.p-top-works__head::after {
  @media (min-width: 900px) {
    width: clamp(14px, 1.1875vw, 23px);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: currentColor;
    opacity: 0.2;
    top: calc(clamp(90px, 7.5vw, 144px) - clamp(7.5px, 0.625vw, 12px));
    left: clamp(24px, 2vw, 38px);
    transform: translateX(-50%);
  }
}

.p-top-works__title {
  padding-top: 30vw;
  margin-bottom: 15vw;

  @media (min-width: 900px) {
    margin-bottom: 0;
    padding-top: 0;
  }
}

/* セクションタイトル 装飾 */
.p-top-works__title::before {
  background: currentColor;
  height: 19.25vw;
  left: 4vw;
  top: 0;

  @media (min-width: 900px) {
    display: none;
  }
}
.p-top-works__title::after {
  background: currentColor;
  opacity: 0.2;
  top: calc(19.25vw - 1.75vw);
  left: 4vw;
  transform: translateX(-50%);

  @media (min-width: 900px) {
    display: none;
  }
}
.p-top-works__title-en {
  line-height: 1;
  margin-bottom: 5vw;

  @media (min-width: 900px) {
    margin-bottom: clamp(30px, 2.5vw, 40px);
  }
}

.p-top-works__text {
  line-height: 2.125;
}

.p-top-works__text span {
  display: block;
}

.p-top-works__list {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  margin-bottom: 15vw;

  @media (min-width: 900px) {
    flex-direction: row;
    gap: clamp(12px, 0.75vw, 16px);
    align-items: flex-start;
    margin-bottom: clamp(60px, 5vw, 96px);
  }
}

.p-top-works__item {
  width: 100%;
  aspect-ratio: 360/240;
  position: relative;
  overflow: hidden;

  @media (min-width: 900px) {
    aspect-ratio: 370/480;
  }
}

/* 奇数の項目にmargin-topをつける */
.p-top-works__item:nth-child(odd) {
  @media (min-width: 900px) {
    margin-top: clamp(45px, 3.75vw, 72px);
  }
}

.p-top-works__link {
  display: block;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
  z-index: var(--z-index-default);
}

.p-top-works__item-title {
  font-size: 6vw;
  padding-bottom: 2.5vw;
  border-bottom: 1px solid currentColor;
  position: relative;
  z-index: var(--z-index-default);

  @media (min-width: 900px) {
    font-size: clamp(18px, 1.5vw, 29px);
    padding-bottom: clamp(12px, 1vw, 19px);
  }
}

/* 透過・背景画像の設定 */
.p-top-works__link::before,
.p-top-works__link::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}

/* 背景画像 */
.p-top-works__link::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s;
}

.p-top-works__link--cold::before {
  background-image: url(../images/works_01_sp.jpg);

  @media (min-width: 900px) {
    background-image: url(../images/works_01.jpg);
  }
}

.p-top-works__link--transportation::before {
  background-image: url(../images/works_02_sp.jpg);

  @media (min-width: 900px) {
    background-image: url(../images/works_02.jpg);
  }
}

.p-top-works__link--dangerous::before {
  background-image: url(../images/works_03_sp.jpg);

  @media (min-width: 900px) {
    background-image: url(../images/works_03.jpg);
  }
}

.p-top-works__link--building::before {
  background-image: url(../images/works_04_sp.jpg);

  @media (min-width: 900px) {
    background-image: url(../images/works_04.jpg);
  }
}

/* リンクhover時、画像を拡大する */
.p-top-works__link:hover::before {
  transform: scale(1.2);
}

/* 透過 */
.p-top-works__link::after {
  background: var(--color-font-base);
  opacity: 0.5;
}

.p-top-works__btn-wrapper {
  @media (min-width: 900px) {
    text-align: center;
  }
}

.p-top-works__btn {
  padding-left: 28vw;

  @media (min-width: 900px) {
    padding-left: clamp(90px, 7.5vw, 144px);
    display: inline-flex;
    gap: clamp(36px, 3vw, 58px);
  }
}

.p-top-works__btn-arrow {
  background: var(--color-primary);
}

.p-top-works__btn-arrow::before {
  border-color: transparent transparent transparent var(--color-font-sub);
}

/* ----------------------------------------------------------
   company 
---------------------------------------------------------- */
.p-top-company {
  background: #f3f5f6;

  @media (min-width: 900px) {
    background: transparent;
  }
}

.p-top-company__inner {
  padding-top: 115vw;
  position: relative;

  @media (min-width: 900px) {
    padding-top: clamp(420px, 43.75vw, 700px);
  }
}

/* 背景画像 */
.p-top-company__inner::before {
  content: "";
  display: block;
  width: calc(100% - 10vw);
  aspect-ratio: 360/520;
  background-image: url(../images/company.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;

  @media (min-width: 900px) {
    width: calc(100% - 12.5vw);
    max-height: 1000px;
    aspect-ratio: 1400/890;
  }
}

.p-top-company__content {
  position: relative;
}

.p-top-company__title {
  text-align: center;
  position: relative;
  z-index: var(--z-index-default);

  @media (min-width: 900px) {
    text-align: left;
    margin-left: clamp(390px, 32.5vw, 624px);
  }
}

.p-top-company__title-en {
  color: var(--color-primary);
}

.p-top-works__lead {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 5vw;
  gap: 1vw;
  position: absolute;
  top: 17.5vw;
  left: 0;
  color: var(--color-sub);

  @media (min-width: 900px) {
    font-size: clamp(27px, 2.25vw, 43px);
    top: clamp(142px, 11.875vw, 228px);
    left: auto;
    right: clamp(150px, 12.5vw, 240px);
    gap: 12px;
  }
}

.p-top-works__lead span {
  display: inline-block;
  background: var(--color-font-sub);
  padding-inline: 5vw 3.5vw;
  line-height: 2;

  @media (min-width: 900px) {
    padding-inline: clamp(15px, 1.25vw, 24px);
  }
}

/* 改行箇所が異なるので個別の要素を指定し、表示・非表示 */
.p-top-works__lead span.u-sp-hidden {
  display: none;

  @media (min-width: 900px) {
    display: inline-block;
  }
}

.p-top-works__lead span.u-pc-hidden {
  display: inline-block;

  @media (min-width: 900px) {
    display: none;
  }
}

.p-top-company__text-area {
  background: var(--color-font-sub);
  padding: 30vw 10vw 22vw;
  margin-top: -15vw;
  margin-right: 10vw;
  position: relative;

  @media (min-width: 900px) {
    padding: clamp(120px, 10vw, 192px) clamp(150px, 12.5vw, 240px)
      clamp(75px, 6.25vw, 120px) clamp(90px, 7.5vw, 144px);
    margin: clamp(-120px, -6.255vw, -75px) auto 0 clamp(220px, 25vw, 480px);
    display: grid;
    grid-template-columns: clamp(220px, 25vw, 480px) clamp(
        165px,
        18.75vw,
        360px
      );
    justify-content: space-between;
    align-items: center;
  }
}

/* pc 背景色 */
.p-top-company__text-area::after {
  @media (min-width: 900px) {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: var(--z-index-negative);
    background: #f3f5f6;
    top: 0;
    left: clamp(-480px, -25vw, -300px);
  }
}

/* 背景の装飾画像 */
.p-top-company__text-area::before {
  content: "";
  display: block;
  width: 57.5vw;
  aspect-ratio: 230/260;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/company_bg_logo.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: 900px) {
    aspect-ratio: auto;
    width: clamp(345px, 28.75vw, 552px);
    height: 100%;
    background-position: top right;
    background-size: 135%;
  }
}

.p-top-company__text {
  line-height: 2.125;
  margin-bottom: 16vw;
  position: relative;

  @media (min-width: 900px) {
    margin-bottom: 0;
  }
}

.p-top-company__btns {
  color: var(--color-primary);
}

.p-top-company__btn {
  padding-block: 5vw;

  @media (min-width: 900px) {
    padding-block: clamp(15px, 1.25vw, 24px);
  }
}

/* 矢印 */
.p-top-company__btn-arrow {
  background: currentColor;
}

.p-top-company__btn-arrow::before {
  border-color: transparent transparent transparent var(--color-font-sub);
  transition: border-color 0.3s;
}

/* ボタンhover時、テキストの色を変える */
.p-top-company__btn:hover {
  @media (min-width: 900px) {
    color: var(--color-font-base);
  }
}

/* ボタンhover時、矢印の色を変える */
.p-top-company__btn:hover .p-top-company__btn-arrow::before {
  @media (min-width: 900px) {
    border-color: transparent transparent transparent var(--color-font-sub);
  }
}

/* ボタンhover時、線が伸びる */
.p-top-company__btn::before {
  border-bottom: 2px solid var(--color-primary);
}

.p-top-company__btn::after {
  @media (min-width: 900px) {
    border-bottom: 2px solid var(--color-font-base);
  }
}

/* ----------------------------------------------------------
   news
---------------------------------------------------------- */
.p-top-news {
  padding-block: 22vw;
  background: #f3f5f6;

  @media (min-width: 900px) {
    padding-block: clamp(135px, 45vw, 216px) clamp(120px, 40vw, 192px);
  }
}

.p-top-news__inner {
  padding-inline: 5vw;

  @media (min-width: 900px) {
    padding-inline: max(150px, 12.5vw);
    max-width: 2000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 26.66666% 1fr;
  }
}

.p-top-news__title {
  margin-bottom: 6vw;
  text-align: center;

  @media (min-width: 900px) {
    text-align: left;
    margin-bottom: 0;
  }
}

.p-top-news__title-en {
  font-size: 8vw;
  line-height: 0.9375;
  letter-spacing: 0.05em;
  color: var(--color-sub);
  margin-bottom: 4vw;

  @media (min-width: 900px) {
    font-size: clamp(45px, 3.75vw, 72px);
    margin-bottom: clamp(22px, 1.85vw, 36px);
  }
}

.p-top-news__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 14vw;

  @media (min-width: 900px) {
    margin-bottom: clamp(66px, 5.5vw, 105px);
  }
}

.p-top-news__link {
  display: block;
  padding-block: 8vw 6vw;
  border-bottom: 1px solid rgba(63, 52, 46, 20);

  @media (min-width: 900px) {
    padding-block: clamp(30px, 2.5vw, 48px);
    transition: opacity 0.3s;
  }
}

.p-top-news__link:hover {
  opacity: 0.5;
}

/* 1つ目の項目のpaddingを無効 */
.p-top-news__item:nth-of-type(1) .p-top-news__link {
  @media (min-width: 900px) {
    padding-top: 0;
  }
}

.p-top-news__article {
  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 17.98% 1fr;
    align-items: center;
  }
}

.p-top-news__item-date {
  color: var(--color-sub);
  letter-spacing: 0.1em;
  font-size: 3vw;
  display: block;
  line-height: 1;
  margin-bottom: 5vw;

  @media (min-width: 900px) {
    font-size: clamp(12px, 0.75vw, 14px);
    margin-bottom: 0;
  }
}

.p-top-news__item-title {
  font-size: 3.75vw;
  line-height: 1.7333;

  @media (min-width: 900px) {
    font-size: clamp(12px, 1vw, 19px);
  }
}

.p-top-news__btn {
  color: var(--color-sub);
  letter-spacing: 0.1em;
  font-size: 3vw;
  text-transform: uppercase;
  width: 50%;
  margin-left: auto;

  @media (min-width: 900px) {
    width: max(160px, 20.45%);
    font-size: clamp(14px, 0.875vw, 17px);
  }
}

/* 矢印 */
.p-top-news__btn-arrow {
  background: var(--color-font-sub);
}

.p-top-news__btn-arrow::before {
  border-color: transparent transparent transparent currentColor;
  transition: border-color 0.3s;
}

/* 線 */
.p-top-news__btn::before {
  border-bottom: 2px solid var(--color-sub);
}

/* ボタンhover時、テキストの色を変える */
.p-top-news__btn:hover {
  @media (min-width: 900px) {
    color: var(--color-primary);
  }
}

/* ボタンhover時、円の色を変える */
.p-top-news__btn .p-top-news__btn-arrow {
  transition: background 0.3s;
}

.p-top-news__btn:hover .p-top-news__btn-arrow {
  background: var(--color-primary);
}

/* ボタンhover時、矢印の色を変える */
.p-top-news__btn:hover .p-top-news__btn-arrow::before {
  @media (min-width: 900px) {
    border-color: transparent transparent transparent var(--color-font-sub);
  }
}

.p-top-news__btn::after {
  @media (min-width: 900px) {
    border-bottom: 2px solid var(--color-primary);
  }
}

/* ----------------------------------------------------------
   contact 
---------------------------------------------------------- */
.l-contact {
  padding-block: 20vw;
  background-image: url(../images/contact.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: var(--color-font-sub);

  @media (min-width: 900px) {
    padding-block: clamp(90px, 7.5vw, 144px);
  }
}

.l-contact::before {
  content: "";
  display: block;

  position: absolute;
  inset: 0;
  background: #437d95;
  background: linear-gradient(
    90deg,
    rgba(67, 125, 149, 0.2) 0%,
    rgba(8, 22, 57, 0.2) 100%
  );
}

.l-contact__inner {
  padding-inline: 5vw;
  position: relative;

  @media (min-width: 900px) {
    padding-inline: max(150px, 12.5vw);
    max-width: 2000px;
    margin: 0 auto;
  }
}

.l-contact__title {
  padding-inline: 2.5vw;

  @media (min-width: 900px) {
    padding-inline: max(150px, 12.5vw);
  }
}

.l-contact__lead {
  text-align: center;
  font-size: 4.5vw;
  font-weight: var(--font-weight-bold);
  letter-spacing: 0.1em;
  line-height: 1.67;
  margin-block: -4.5vw 32.5vw;

  @media (min-width: 900px) {
    font-size: clamp(22.5px, 1.875vw, 36px);
    margin-block: clamp(-144px, -7.5vw, -90px) clamp(90px, 7.5vw, 144px);
  }
}

.l-contact__lead span {
  display: block;
}

.l-contact-cta {
  background: var(--color-font-sub);
  display: grid;
  grid-template-columns: 1fr;
  padding: 10vw 5vw 5vw;

  @media (min-width: 900px) {
    padding: clamp(18px, 1.5vw, 29px);
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

.l-contact-tel {
  margin-bottom: 5vw;
  text-align: center;
  line-height: 1;

  @media (min-width: 900px) {
    margin-bottom: 0;
  }
}

.l-contact-tel-number {
  font-size: 7.5vw;
  font-weight: 600;
  display: inline-flex;
  color: var(--color-primary);
  align-items: center;
  gap: 1.5vw;
  margin-bottom: 3vw;

  @media (min-width: 900px) {
    font-size: clamp(27px, 2.25vw, 43px);
    margin-bottom: clamp(15px, 1.25vw, 24px);
    gap: clamp(12px, 0.75vw, 14px);
    letter-spacing: 0.05em;
  }
}

.l-contact-tel-number::before {
  content: "";
  width: 6vw;
  aspect-ratio: 1 / 1;
  background-image: url("../images/icon_tel.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 900px) {
    width: clamp(24px, 2vw, 38px);
  }
}

.l-contact-hours {
  font-size: 3.25vw;
  color: var(--color-font-base);

  @media (min-width: 900px) {
    font-size: clamp(12px, 0.8125vw, 16px);
  }
}

.l-contact-email {
  background: linear-gradient(
    90deg,
    rgb(86, 188, 213) 0%,
    rgb(19, 117, 186) 80%
  );
  padding-block: 3.75vw;
  padding-inline: 5vw;
  display: flex;
  gap: 5vw;
  justify-content: center;
  align-items: center;
  font-size: 4.5vw;

  @media (min-width: 900px) {
    font-size: clamp(16px, 1.375vw, 26px);
    padding-block: clamp(30px, 2.5vw, 48px);
    padding-inline: 0;
    gap: clamp(22.5px, 1.875vw, 36px);
  }
}

.l-contact-email-icon {
  padding: 2.5vw;
  background: var(--color-sub);
  border-radius: 2px;

  @media (min-width: 900px) {
    padding: clamp(12px, 1vw, 19px);
  }
}

.l-contact-email-icon::before {
  content: "";
  display: block;
  width: 5vw;
  aspect-ratio: 1 / 1;
  background-image: url("../images/icon_mail.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 900px) {
    width: clamp(15px, 1.25vw, 24px);
  }
}

/* ----------------------------------------------------------
   footer
---------------------------------------------------------- */
.l-footer {
  padding-top: 18vw;
  color: var(--color-font-sub);
  background: #163850;
  background: linear-gradient(
    90deg,
    rgba(22, 56, 80, 1) 0%,
    rgba(34, 34, 34, 1) 100%
  );

  @media (min-width: 900px) {
    padding-top: clamp(108px, 9vw, 172px);
  }
}

.l-footer__block {
  padding-inline: 5vw;

  @media (min-width: 900px) {
    padding-inline: max(150px, 12.5vw);
    max-width: 2000px;
    margin: 0 auto;
  }
}

.l-footer__block--top {
  margin-bottom: 6vw;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: 1fr clamp(232px, 19.375vw, 384px);
    padding-bottom: clamp(48px, 4vw, 77px);
    margin-bottom: clamp(42px, 3.5vw, 67px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
}

.l-footer__block--bottom {
  font-size: 3vw;
  line-height: 2.3;
  padding-bottom: 13vw;

  @media (min-width: 900px) {
    font-size: clamp(10px, 0.75vw, 14px);
    padding-bottom: clamp(42px, 3.5vw, 67px);
    display: flex;
    justify-content: space-between;
  }
}

.l-footer__logo {
  width: 82.5vw;
  margin-bottom: 12vw;

  @media (min-width: 900px) {
    width: clamp(240px, 20vw, 384px);
    margin-bottom: 0;
    grid-column: 1/3;
    grid-row: 1/2;
  }
}

.l-footer__address {
  font-size: 3.5vw;
  font-weight: var(--font-weight-medium);
  padding-bottom: 16vw;
  margin-bottom: 12vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media (min-width: 900px) {
    font-size: clamp(10px, 0.875vw, 17px);
    font-weight: var(--font-weight-medium);
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: flex-end;
  }
}

.l-footer__address-text {
  line-height: 1.85;
  margin-bottom: 7.5vw;

  @media (min-width: 900px) {
    margin-bottom: clamp(18px, 1.5vw, 29px);
  }
}

.l-footer__address-text span {
  display: block;
}

.l-footer__tel-numbers {
  display: flex;
  gap: 8vw;
  text-transform: uppercase;

  @media (min-width: 900px) {
    gap: clamp(24px, 2vw, 38px);
  }
}

.l-footer__nav {
  margin-bottom: 16vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: 900px) {
    margin-bottom: clamp(27px, 2.25vw, 43px);
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: end;
    grid-template-columns: repeat(2, auto);
    gap: clamp(75px, 6.25vw, 120px);
  }
}

.l-footer__list {
  display: flex;
  flex-direction: column;
  gap: 9vw;

  @media (min-width: 900px) {
    font-size: clamp(75px, 6.25vw, 120px);
    gap: clamp(24px, 2vw, 38px);
  }
}

.l-footer__link {
  font-size: 3.5vw;
  display: flex;
  align-items: center;
  gap: 2vw;

  @media (min-width: 900px) {
    font-size: clamp(10px, 0.875vw, 17px);
    gap: clamp(9px, 0.5625vw, 11px);
  }
}

/* itemの装飾線 */
.l-footer__link::before {
  content: "";
  display: block;
  width: 2vw;
  height: 1px;
  background: var(--color-sub);

  @media (min-width: 900px) {
    width: clamp(6px, 0.5vw, 9.6px);
  }
}

.l-footer__sns {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 6vw);
  gap: 8vw;
  padding-bottom: 13vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, clamp(15px, 1.25vw, 24px));
    gap: clamp(18px, 1.5vw, 29px);
    grid-column: 2/3;
    grid-row: 3/4;
    justify-content: flex-end;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.l-footer__sns path {
  @media (min-width: 900px) {
    transition: fill 0.3s;
  }
}

.l-footer__sns-item-link:hover path {
  @media (min-width: 900px) {
    fill: var(--color-primary);
  }
}

.l-footer__sub-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5vw;
  padding-bottom: 6vw;
  margin-bottom: 13vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;

  @media (min-width: 900px) {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    gap: clamp(22.5px, 1.875vw, 36px);
  }
}

/* 中央に[/]を配置 */
.l-footer__sub-links::before {
  content: "/";
  position: absolute;
  top: 0;
  left: 56%;

  @media (min-width: 900px) {
    left: 60%;
  }
}

.l-footer__copyright {
  text-align: center;
}

/* テキストリンクをhover時、テキストの色を変える */
.l-footer__link,
.l-footer__sub-link {
  transition: color 0.3s;
}
.l-footer__link:hover,
.l-footer__sub-link:hover {
  color: var(--color-primary);
}
